<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>查 询 系 统</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login_style.css"/>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/verificationNumbers.js"></script>
    <script src="/static/js/Particleground.js"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#3592f9',
                lineColor: '#9FC6F9'
            });
            //验证码
            createCode();
            //测试提交，对接程序删除即可
        });
    </script>
</head>
<body>
<form name="login" action="/login/" method="post" onsubmit="return validate();">
    {% csrf_token %}
    <dl class="admin_login">
        <dt>
            <strong>查 询 系 统</strong> <em>M6 Query System</em>
        </dt>
        <dd class="user_icon">
            <input name="username" type="text" placeholder="账号" class="login_txtbx"/>
        </dd>
        <dd class="pwd_icon">
            <input name="password" type="password" placeholder="密码" class="login_txtbx"/>
        </dd>
        <dd class="val_icon">
            <div class="checkcode">
                <input type="text" id="code-text" placeholder="验证码" maxlength="4" class="login_txtbx">
                <canvas class="code-img" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!
                </canvas>
            </div>
            <input type="button" value="验证码核验" class="ver_btn" onClick="validate();">
        </dd>
        <dd>
            <input type="submit" value="立即登陆" class="submit_btn"/>
        </dd>
        <dd></dd>
    </dl>
</form>
</body>
</html>
